In [2]:
import tushare as ts
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import quandl
import os

In [273]:
dataPath = os.getcwd()+'/dataset.csv'
djiPath = os.getcwd()+'/DJI.csv'
dataset = pd.read_csv(dataPath)
DJI = pd.read_csv(djiPath,index_col=0)

In [100]:
dataset.names[0]

'GDP'

In [3]:
quandl.ApiConfig.api_key = 'rX-asDsCtNGvci1hLb41'

In [110]:
# 判断数据的周期

day = []
week = []
mounth = []
season = []
year = []
#time_period = dict()
for i in dataset.names:
    temp = quandl.get('FRED/' + i, start_date="2016-10-1", end_date="2018-1-1")
    period_t = temp.index[1] - temp.index[0]
    period = period_t.days
    if period == 1:
        day.append(i)
       # print('day',i)
    elif  period > 1 and period < 15:
        week.append(i)
       # print('week',i)
    elif  period > 15 and period < 45:
        mounth.append(i)
       # print('mounth',i)
    elif  period > 45 and period < 180:
        season.append(i)
        #print('season',i) 
#     elif  period > 180 and period < 368:
#         year.append(i)
        #print('year',i)   
    else :
        print('unexpected',i)

('day', 'DFF')
('day', 'DTB3')
('day', 'DGS5')
('day', 'DGS10')
('day', 'DGS30')
('day', 'T5YIE')
('day', 'T10YIE')
('day', 'T5YIFR')
('day', 'TEDRATE')
('day', 'DPRIME')
('day', 'DCOILWTICO')
('day', 'DTWEXM')
('day', 'DTWEXB')
('day', 'USEPUINDXD')
('day', 'USRECDM')
('day', 'USRECDP')

In [115]:
pd.Series(day).to_csv("dayName.csv" , encoding = "utf-8")
pd.Series(week).to_csv("weekName.csv" , encoding = "utf-8")
pd.Series(mounth).to_csv("mounthName.csv" , encoding = "utf-8")
pd.Series(season).to_csv("seasonName.csv" , encoding = "utf-8")
pd.Series(year).to_csv("yearName.csv" , encoding = "utf-8")

In [253]:
data = pd.DataFrame(DJI['Close'])
for i in day:
    data = data.join(quandl.get('FRED/' + i, start_date="1987-09-1", end_date="2018-1-2"))
    data.rename(columns={'Value':i}, inplace = True)

In [257]:
day_null_sort = data.isnull().sum().sort_values(ascending=False)

In [258]:
#保留的day数据
dayName_delete = day_null_sort[:5].index.values

In [259]:
dayName_delete

array(['T5YIFR', 'T10YIE', 'T5YIE', 'DTWEXB', 'DGS30'], dtype=object)

In [181]:
data = data.drop(dayName_delete,axis=1)

In [285]:
data = pd.DataFrame(DJI['Close'])
for i in week:
    data = data.join(quandl.get('FRED/' + i, start_date="1987-9-1", end_date="2018-1-2"))
    data.rename(columns={'Value':i}, inplace = True)

In [286]:
week_null_sort = data.notnull().sum().sort_values()
weekName_delete = week_null_sort[:5].index.values
weekName_delete

array(['ICSA', 'IC4WSA', 'BASE', 'STLFSI', 'GASREGCOVW'], dtype=object)

In [284]:
week_null_sort

ICSA             0
IC4WSA           0
BASE           783
STLFSI        1211
GASREGCOVW    1296
M1            1439
M2            1439
GDTCBW        1439
GDDDCBW       1439
GDBFRW        1439
EXCSRESNW     1565
TOTCI         1565
Close         7627
dtype: int64

In [236]:
data = pd.DataFrame(DJI['Close'])
for i in season:
    data = data.join(quandl.get('FRED/' + i, start_date="1987-9-1", end_date="2018-1-2"))
    data.rename(columns={'Value':i}, inplace = True)

In [237]:
season_null_sort = data.notnull().sum().sort_values()
seasonName_delete = season_null_sort[:7].index.values
seasonName_delete

array(['NHSUSSPTQ', 'EYRVACUSQ176N', 'EOCCUSEUSQ176N', 'EVACANTUSQ176N',
       'ETOTALUSQ176N', 'W240RX1Q020SBEA', 'W242RX1Q020SBEA'], dtype=object)

In [239]:
data = pd.DataFrame(DJI['Close'])
for i in mounth:
    data = data.join(quandl.get('FRED/' + i, start_date="1987-9-1", end_date="2018-1-2"))
    data.rename(columns={'Value':i}, inplace = True)

In [240]:
mounth_null_sort = data.notnull().sum().sort_values()
mounthName_delete = mounth_null_sort[:11].index.values
mounthName_delete

array(['IR14220', 'IR14250', 'IR110', 'IQ12210', 'IR14260', 'IR14240',
       'PCU4842104842104', 'GASMIDREFM', 'GASPRMREFM', 'IR21300', 'RRSFS'], dtype=object)

In [242]:
data = pd.DataFrame(DJI['Close'])
for i in year:
    data = data.join(quandl.get('FRED/' + i, start_date="1987-9-1", end_date="2018-1-2"))
    data.rename(columns={'Value':i}, inplace = True)

In [243]:
data.notnull().sum().sort_values()
#mounthName_delete = mounth_null_sort[:11].index.values
#mounthName_delete

Close    7627
dtype: int64

In [260]:
#pd.Series(dayName_delete).to_csv("dayName_delete.csv" , encoding = "utf-8")
#pd.Series(weekName_delete).to_csv("weekName_delete.csv" , encoding = "utf-8")
#pd.Series(mounthName_delete).to_csv("mounthName_delete.csv" , encoding = "utf-8")
#pd.Series(seasonName_delete).to_csv("seasonName_delete.csv" , encoding = "utf-8")

In [274]:
periods = [day,week,mounth,season]
data = pd.DataFrame(DJI['Close'])
for p in periods:
    #print p
    for i in p:
       # print i
        data = data.join(quandl.get('FRED/' + i, start_date="1987-9-1", end_date="2018-1-2"))
        data.rename(columns={'Value':i}, inplace = True)

In [275]:
periods_delete = [dayName_delete,weekName_delete,mounthName_delete,seasonName_delete]
for i in periods_delete:
    data = data.drop(i,axis=1)

In [279]:
periods

[['DFF',
  'DTB3',
  'DGS5',
  'DGS10',
  'DGS30',
  'T5YIE',
  'T10YIE',
  'T5YIFR',
  'TEDRATE',
  'DPRIME',
  'DCOILWTICO',
  'DTWEXM',
  'DTWEXB',
  'USEPUINDXD',
  'USRECDM',
  'USRECDP'],
 ['BASE',
  'M1',
  'M2',
  'ICSA',
  'IC4WSA',
  'STLFSI',
  'EXCSRESNW',
  'TOTCI',
  'GASREGCOVW',
  'GDTCBW',
  'GDDDCBW',
  'GDBFRW'],
 ['CPIAUCSL',
  'CPILFESL',
  'UNRATE',
  'CIVPART',
  'UNEMPLOY',
  'PAYEMS',
  'MANEMP',
  'DSPIC96',
  'PCE',
  'PCEDG',
  'PSAVERT',
  'RRSFS',
  'DSPI',
  'INDPRO',
  'TCU',
  'HOUST',
  'USSLIND',
  'IQ300',
  'IR300',
  'IR120',
  'USSLIND',
  'IR213COM',
  'IQ213COM',
  'IR21320',
  'IR10000',
  'IR14260',
  'IR110',
  'IQ00200',
  'IQ21320',
  'IR21300',
  'IR14240',
  'IR14250',
  'IQ002',
  'IQ12210',
  'IQ00000',
  'IR14220',
  'IQ21300',
  'PCU4842104842104',
  'GASPRMREFM',
  'GASMIDREFM',
  'IR',
  'IQ',
  'MSACSRNSA',
  'LNS14000006',
  'LNU05000006',
  'LNS12000006',
  'LNS13000006',
  'IQ10',
  'HSN1FNSA',
  'HSN1F',
  'HNFSEPUSSA',
  'HNFSUSNSA',
  'LNU00000006',
  'LNU02300006',
  'LNS12300006',
  'ASPNHSUS',
  'FEDMINFRMWG',
  'FEDMINNFRWG',
  'LNU01300006',
  'USGVDDNS',
  'USGDCB',
  'USGSEC'],
 ['GDP',
  'GDPC1',
  'GDPPOT',
  'GDPDEF',
  'M1V',
  'M2V',
  'NROU',
  'NROUST',
  'GPDI',
  'CP',
  'GFDEBTN',
  'GFDEGDQ188S',
  'W242RX1Q020SBEA',
  'W240RX1Q020SBEA',
  'EOCCUSEUSQ176N',
  'W240RG3Q086SBEA',
  'W242RG3Q086SBEA',
  'W243RL1Q225SBEA',
  'W241RL1Q225SBEA',
  'W242RA3Q086SBEA',
  'W240RA3Q086SBEA',
  'RHORUSQ156N',
  'RHVRUSQ156N',
  'RRVRUSQ156N',
  'A137RC1Q027SBEA',
  'A145RC1Q027SBEA',
  'ASPUS',
  'ETOTALUSQ176N',
  'EVACANTUSQ176N',
  'NHSUSSPTQ',
  'B908RL1Q225SBEA',
  'B684RL1Q225SBEA',
  'EYRVACUSQ176N',
  'W243RA3Q086SBEA',
  'W241RA3Q086SBEA']]

In [278]:
data.to_csv("original_data.csv" , encoding = "utf-8")

In [15]:
odataPath = os.getcwd()+'/original_data.csv'
odataset = pd.read_csv(odataPath,index_col=0)

In [8]:
GOLD = quandl.get('WGC/GOLD_DAILYIND_USD', start_date="1987-9-1", end_date="2018-1-30")

In [12]:
GOLD.rename(columns={'Value':'GOLD_DAILYIND_USD'}, inplace=True)

In [19]:
odata_gold = odataset.join(GOLD)#.GOLD_DAILYIND_USD#.isnull().sum()

In [21]:
odata_gold.to_csv("original_data1.csv" , encoding = "utf-8")# 有gold的

In [39]:
period = GDP.index[1] - GDP.index[0]

In [71]:
if period.days ==91 or period.days ==92 :
    print('ok')

ok

In [7]:
GDP

                 Value
Date
1987-09-01  157.661571
1987-09-02  160.910354
1987-09-03  161.118833
1987-09-04  161.483669
1987-09-07  161.049340
1987-09-08  158.773454
1987-09-09  159.242530
1987-09-10  159.902710
1987-09-11  159.781098
1987-09-14  158.287005
1987-09-15  159.416261
1987-09-16  159.277276
1987-09-17  160.006949
1987-09-18  160.423905
1987-09-21  159.520500
1987-09-22  160.371786
1987-09-23  160.667130
1987-09-24  161.223072
1987-09-25  160.458652
1987-09-28  160.128562
1987-09-29  159.624739
1987-09-30  159.659486
1987-10-01  158.061154
1987-10-02  157.870049
1987-10-05  158.617095
1987-10-06  159.138290
1987-10-07  159.155664
1987-10-08  159.190410
1987-10-09  160.545518
1987-10-12  160.441279
...                ...
2017-12-20  439.384990
2017-12-21  439.384990
2017-12-22  439.384990
2017-12-25  439.384990
2017-12-26  439.384990
2017-12-27  444.544823
2017-12-28  448.575400
2017-12-29  448.575400
2018-01-01  448.575400
2018-01-02  455.889507
2018-01-03  456.879778
2018-01-04  456.740792
2018-01-05  457.661571
2018-01-08  458.634468
2018-01-09  455.524670
2018-01-10  458.564976
2018-01-11  459.711605
2018-01-12  461.014593
2018-01-15  465.340514
2018-01-16  463.464211
2018-01-17  464.089646
2018-01-18  462.890896
2018-01-19  463.846421
2018-01-22  463.029882
2018-01-23  463.307853
2018-01-24  470.361362
2018-01-25  470.795691
2018-01-26  470.170257
2018-01-29  466.938846
2018-01-30  467.303683

[7936 rows x 1 columns]